services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    restart: always

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./app:/app  
    ports:
      - "8000:8000"
    environment:
      - TZ='Europe/Kyiv'
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy 
      redis:
        condition: service_started

  worker:
    build: .
    command: celery -A config worker --loglevel=info
    volumes:
      - ./app:/app
    environment:
      - TZ='Europe/Kyiv'
    env_file:
      - .env
    depends_on:
      - redis
      - db

  beat:
    build: .
    command: celery -A config beat --loglevel=info
    volumes:
      - ./app:/app
    environment:
      - TZ='Europe/Kyiv'  
    env_file:
      - .env
    depends_on:
      - redis
      - db

volumes:
  postgres_data: